@use "_includes/core" as *;

.Home {
  height: 100%;
}

.Pond {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: serif;
  user-select: none;

  @include mobile {
    padding: 6.4% 5%;
  }

  @include desktop {
    padding: 6.4% 18%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-body {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 941px;
    max-height: 647px;
  }

  li {
    --a: initial;

    margin-left: var(--l);
    margin-right: var(--r);
    margin-top: var(--t);
    transform: rotate(var(--a));
  }

  %entity {
    position: absolute;
  }

  .is-hit {
    background-color: #ff000088;
  }

  .Water {
    @extend %entity;

    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    left: var(--x);
    top: var(--y);
    width: var(--w);
    transform: rotate(var(--a));
    color: #cbe8e7;
    line-height: 1.5rem;

    > li {
      overflow: hidden;
    }
  }

  .Bank {
    @extend %entity;

    display: inline-flex;
    flex-direction: column;
    left: var(--x);
    top: var(--y);
    width: var(--w);
    transform: rotate(var(--a));
    color: #d8d69e;

    > li {
      overflow: hidden;
    }
  }

  .Lily {
    @extend %entity;

    color: #65d897;
    font-size: 0.8rem;
    left: var(--x);
    top: var(--y);
  }

  .Life {
    @extend %entity;

    width: var(--size);
    height: var(--size);
    left: var(--x);
    top: var(--y);
    line-height: var(--size);
  }

  .Protozoa {
    --size: 2.2rem;
    font-size: 2rem;
  }

  .Stentor {
    --size: 2.3rem;
    font-size: 4rem;
  }

  .Ameoba {
    --size: 1.8rem;
    font-size: 2rem;
  }

  .Daphnia {
    --size: 2.1rem;
    font-size: 2rem;
  }
}

.Debug {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}