.Life {
  > a {
    color: inherit;
    text-decoration: none;
    cursor: zoom-in;
  }
}

.Protozoa {
  color: #f28afb;
  transform: rotate(8deg);
}

.Stentor {
  color: #3a72ff;
}

.Ameoba {
  color: #f7e377;
  transform: rotate(102deg);
}

.Daphnia {
  color: #ffcb9c;
  transform: rotate(-21deg);
}
