.Life {
  transform: rotate(var(--a));

  > a {
    color: inherit;
    text-decoration: none;
    cursor: zoom-in;
  }
}

.Protozoa {
  --a: 8deg;
  color: #f28afb;
}

.Stentor {
  --a: 0deg;
  color: #3a72ff;
}

.Ameoba {
  --a: 102deg;
  color: #f7e377;
}

.Daphnia {
  --a: -21deg;
  color: #ffcb9c;
}
