// -- resets --
@use "_includes/core" as *;
@use "_includes/pond/life";
@use "_includes/home";
@use "_includes/links";

// -- globals --
html {
  height: 100%;
  font-size: 16px;
}

* {
  font-weight: inherit;

  &::selection {
    background-color: #ff00ff1e;
  }
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}

// -- Site --
.Site {
  height: 100%;
}

// -- Global --
.Pondlife {
  color: $color-pondlife;
}

.Discone {
  color: $color-discone;
}

// -- Loading --
.Loading {
  position: absolute;
}
